@import "_variables";


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5 !important;
    font-family: 'Roboto', sans-serif;
    background-color: #F6F7FB;

}

.container{
    padding: 0 108px;
    margin:  auto auto;
}

.area{
    margin: 90px auto 0 auto;
}

h1, h2, h3, h4, h5, h6, p, ul, li, span, form, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.material-icons{
    vertical-align: middle;
}
